body {
    background-color: #368f8b;
    
}


.logo-throughout {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0px;

    width: 250px;
/*    border-radius: 50%;
    background-color: #160f29;*/
    padding: 0px;

}

.div-header-background {
    background-color: #368f8b;
    background-color: #160f29;
    border-radius: 30%;

}

.header-search-div {
    display: inline-flex;
}

.search-label {
    justify-content: right;
    position: relative;
    flex-direction: column-reverse;
}

.search-bars {
    display: flex;
    max-width: 60%;
    justify-content: right;
    justify-items: right;
    justify-self: right;
    flex-wrap: nowrap;
}


/* standard nav background appearance*/
.header-nav-background-div {
/*    background-color: #160f29 ;
    background-color: #368f8b ;*/
    border-radius: 30%;
}

.header-nav-links-throughout {
    margin: 2px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
 /*   border:2px solid #ddbea8;
    border-radius: 10%;*/
    color:#ddbea8;
    font-size: larger;
    padding: 10px 20%;
}


/* when hovering over nav selections */
.header-nav-background-div:hover {
 /*   background-color: #f3dfc1;*/
    color:#160f29;
    cursor: pointer;
}

/* 
COLOR SCHEME
#ddbea8 # salmony
#368f8b # seafoamy
#246a73 # KQ-ish blue
#160f29 # darkest logo blue
#f3dfc1 # yellowy

*/

#h-div-homepage-KQ {
    margin: 0px;
    padding: 0px;
}

