
body {
    background-color: #f0f7f6;
    
}

.create-acc {
    width: fit-content;
    max-width: 15%;
    margin: 0px;
    margin-left: 85%;
    display: grid;
    justify-content: right;
    justify-items: right;
    grid-row: end;
 /*   transform: scale(.8);*/
    padding: 0px 0px;
    font-size: smaller;
}

.signup-text:hover {
        /* highlighter effect on hover*/
    background-color: rgba(224, 235, 79, 0.4);

    color:rgb(0, 0, 0);
    cursor: cell;
}

.header-logo-div {
    margin: 0px;
 /*   display: grid;*/
    justify-items: center;
    padding: 0px;
}

.header-logo-a {
    max-width: 60%;
    justify-content:space-around ;
    justify-items: center;

}

.logo-throughout {
    display: flex;
    flex-wrap: nowrap;
    margin: auto auto;
    justify-content: center;
    width: 20%;
/*    border-radius: 50%;
    background-color: #160f29;*/
    padding: 0px;
    cursor:grab;
 /*   box-shadow: 2px 2px 40px ;*/

}



.header-nav-div{
    justify-content: space-around;
    padding: 0px 5px;
}

.div-header-background {
/*    justify-content: right;*/
    background-color: #368f8b;
    background-color: #130638;
    background-color: #eff1e2d7;
    border-radius: 30%;
    border: 1px solid #3f8091;
    box-shadow: 0 20px 100px #0f0f0f;
    box-shadow: 0 3px 1px #0f0f0f;
    box-shadow: 0px 2px 3px 3px #0f0f0f;
}

/*.header-nav-links-throughout */
/* .home-throughout, .seasonal-throughout, .account-throughout  */
.header-nav-links-throughout{
    margin: 5px;
    margin-top: 0px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
 /*   border:2px solid #ddbea8;
    border-radius: 10%;*/
    color:#328d94;
    font-size: 15px;
    padding: 10px;
}

.home-throughout:hover, .seasonal-throughout:hover, .account-throughout:hover {
    color:#242b2a;
    cursor: pointer;
}


.li-search{
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 30%;
    margin: auto auto;
}

.search-bars {
    max-width: 70%;
}

.search-bars, .search-button  {
    display: flex;
    justify-content: center;
    justify-items: center;
}

/* 
COLOR SCHEME
#ddbea8 # salmony
#368f8b # seafoamy
#246a73 # KQ-ish blue
#160f29 # darkest logo blue
#f3dfc1 # yellowy

*/


@media screen and (max-width: 300px) {

    .header-logo-div {
        margin: 0px;
        justify-content: center;
        margin: auto auto;
        padding: 0px;
    }
/*
    .header-nav-links-throughout {
        padding: 30px;
    }
*/
    .logo-throughout {
        margin: auto auto;
/*        display: flex;
        flex-wrap: nowrap;
        margin: auto auto;*/
        justify-content: center;
        width: 20vh;
    /*    border-radius: 50%;
        background-color: #160f29;*/
        padding: 0px;
    
    }
    
}
